body {
  font-family: Arial;
  background: #fffbea;
  margin: 0;
}

header {
  background: #ffd500;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.card {
  background: white;
  width: 320px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #ffd500;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
